{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="text-3xl text-center">Paste the URL to be shortened</h1>
    {{ form_start(form, {'attr': {'class': ''}}) }}
        {{ form_row(form.sourceUrl, {'attr': {'class': 'w-full'}}) }}
        <input type="submit" value="Generate link">
    {{ form_end(form) }}
{% endblock %}