{% extends 'base.html.twig' %}

{% block extracss %}
{% endblock %}
{% block content %}
    <h1>Your short link: </h1>
    <section class="block mx-auto my-70 w-300 h-35 relative shadow-md rounded-full overflow-hidden text-secondary-800">
        <input type="text" name="" id="link" value="{{ link }}" class="form-input w-200 bg-transparent border-none py-5 pl-8 pr-32 text-sm focus:outline-none">
        <button onclick="myFunction()" mouseout="outFunc()" id="myTooltip" onmouseout="outFunc()" class="form-submit text-sm text-gray-600 absolute top-0 right-0 w-70 h-35 rounded-full border-none bg-transparent shadow-lg cursor-pointer py-5 px-5 w-28 hover:bg-primary-100 transition duration-100 ease-in-out focus:bg-primary-200">
            Copy link
        </button>
    </section>
    <script>
        function myFunction() {
        var tooltip = document.getElementById("myTooltip");
        var link = document.getElementById("link");

        link.select();
        link.setSelectionRange(0, 99999); /* For mobile devices */

        document.execCommand("copy");

        tooltip.innerHTML = "Copied";
        }

        function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy link";
        }
    </script>
{% endblock %}