{% extends 'base.html.twig' %}

{% block content %}
    <main class="flex justify-center">
        <section class="">
            <h1>Views for this link: {{ clicks }}</h1>
        </section>
    </main>
{% endblock %}